<div class="row">
    <div class="col-sm-8">
        <h2>Active Users</h2>
    </div>
    <div class="col-sm-4">
        <input type="text" 
               class="form-control" 
               aria-label="Search by name" 
               placeholder="Search by name"
               ng-model="filter"
               ng-change="filterChanged()">
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Registered Date</th>
                <th>Email</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody ng-if="userData.length &gt; 0">
            <tr ng-repeat="user in userData">
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{getDate(user.registered) | date: 'dd-mm-yyyy hh:mm:ss'}}</td>
                <td>{{user.email}}</td>
                <td>{{getNumber(user.balance) | currency: '£': 2}}</td>
            </tr>
        </tbody>
        <tbody ng-if="userData.length == 0">
            <tr>
                <td colspan="5" class="text-center">No users found with name '{{filter}}'</td>
            </tr>
        </tbody>
    </table>
</div>